footer{
    background-color: #00cdce;
    color: white;
    margin: 10px 0;
    height: 60px;
    text-align: center;
    .footer-content{
        line-height: 60px;
        .footer-icon{
            a{
                color: white;
                span{
                    border: 1px solid white;
                    padding: 5px;
                    margin: 2px 4px; 
                }
            }
        }
    }
}