.myContainer{
    width: 80%;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.myNavbar{
    background-color: #333;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0.9;
}
.myNavbar .navbar-brand p{
    font-size: 50px;
    color: white;
    letter-spacing: 3px;
}
.myNavbar .navbar-brand span{
    color: #00cdce;
}
.myNavbar .navbar-nav .nav-item.active>.nav-link {
    color: #00cdce;
    border: none;
}
.myNavbar .navbar-nav .nav-item .nav-link{
    color: white;
    border-bottom: 2px solid white;
    margin: 0 15px;
    font-size: 17px;
    letter-spacing: 1px;
}
.myNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #00cdce;
    border: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
/* CAROUSEL */
.myCarousel .carousel-item img{
    width: 100%;
    height: 600px;
}
.myCarousel .carousel-content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.myCarousel .carousel-content h1{
    font-size: 55px;
}
.myCarousel .carousel-control-prev, .carousel-control-next{
    font-size: 60px;
    width: 10%;
}
.myCarousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 15px;
}
/* ABOUT */
.about{
    margin-top: 50px;
    margin-bottom: 66px;
    letter-spacing: 1px;
}
.about h1{
    font-size: 50px;
    margin-bottom: 33px;
}
.about-icon{
    margin: 10px 0 20px;
}
.about-icon span{
    padding: 12px 21px;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.about-icon span:hover{
    color: white;
    background-color: #00cdce;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.about-us{
    margin-top: 30px;
}
.about-us h3{
    color: #00cdce;
}
/* STATS */
.stats{
    background-color: #00cdce;
    overflow: auto;
    padding: 30px 0;
}
.stats h1 {
    font-size: 55px;
    letter-spacing: 1px;
    margin: 20px 0 30px;
}
.stats .num {
    font-size: 45px;
    color: white;
    letter-spacing: 3px;
}
.stats .word {
    font-size: 35px;
    letter-spacing: 2px;
}
/* BLOG */
.blog{
    margin-top: 50px;
    margin-bottom: 66px;
}
.blog-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-gap: 10px;
}
.blog-item{
    background-color: #efefef;
}
.blog-img img {
    width: 100%;
    border-top: 3px solid #00cdce;
}
.blog-word h4 {
    color: #00cdce;
}
.blog-word{
    margin-left: 20px;
    letter-spacing: 1px;
}
.blog-btn button {
    padding: 7px 20px;
    color: #00cdce;
    background-color: black;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 20px;
}
.blog-btn button:hover{
    color: white;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
/* GET MORE */
.more{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 300px;
}
.more-img{
    background-image: url(../images/video.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.more-img span{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    background: rgba(0, 189, 189, 0.53);
    border-radius: 55%;
    color: #ffffff;
    padding: 2px 18px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.more-content{
    background-color: #00cdce;
    padding: 20px 64px;
}
.more-content p{
    color: white;
    letter-spacing: 2px;
}
.more-btn button {
    padding: 7px 20px;
    color: #00cdce;
    background-color: black;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}
.more-btn button:hover{
    color: white;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
/* PORTFOLIO */
.portfolio{
    margin-top: 50px;
    margin-bottom: 66px;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    grid-gap: 10px;
    margin-top: 10px;
}

.portfolio-item:nth-child(1){
    background-image: url(../images/img1.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}
.portfolio-item:nth-child(2){
    background-image: url(../images/img2.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}
.portfolio-item:nth-child(3){
    background-image: url(../images/img3.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}
.portfolio-item:nth-child(4){
    background-image: url(../images/img4.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}
.portfolio-item:nth-child(5){
    background-image: url(../images/img5.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}
.portfolio-item:nth-child(6){
    background-image: url(../images/img6.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
}
/* SUBSCRIBE */
.subscribe{
    background-color: #00cdce;
    padding: 50px 270px;
    letter-spacing: 1px;
}
.subscribe h1{
    margin-bottom: 40px;
}
.subscribe p{
    color: white;
}
.subscribe input[type="text"] {
    width: 72%;
    height: 36px;
    margin: 10px 0;
}
.subscribe-btn button {
    width: 22%;
    height: 51px;
    background: black;
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-top: 5px;
}
.subscribe-btn button:hover{
    color: white;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    background-color: black;
}
/* AGENTS */
.agents h1{
    margin: 40px 0 20px;
}
.agents-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 523px;
    grid-gap: 10px;
    margin: 10px 0 80px;
}
.agents-word{
    color: white;
    background: #333;
    width: 100%;
    height: 27%;
    text-align: center;
    padding-top: 20px;
}
.agents-word h4{
    color: #00cdce;
}
.agents-btn span{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin: 0 10px;
    padding: 5px 10px;
}
/* MAPS */
.maps iframe{
    width: 100%;
    height: 400px;
    border: 0;
}
/* CONTACT */
.contact{
    margin: 30px 0 45px;
}
.contact-input input, .contact-input textarea {
    border-bottom: 2px solid gray;
    background: rgb(239, 239, 239);
}
.contact-btn button {
    height: 39px;
    width: 100%;
    border: none;
    background: black;
    color: white;
}
.contact-btn button:hover{
    background-color: #00cdce;
    color: black;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
/* FOOTER */
footer{
    background-color: #00cdce;
    color: white;
    margin: 10px 0;
    height: 60px;
    text-align: center;
}
.footer-content{
    line-height: 60px;
}
.footer-content .footer-icon a{
    color: white;
}
.footer-icon a span{
    border: 1px solid white;
    padding: 5px;
    margin: 2px 4px;
}
